.home {
    display: flex;
    flex-direction: column;
}
.home .dogsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px;
}
.home .Orders {
    align-items: center;
    color: beige;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
}