.Footer__Container{
    background-color: 
    rgb(210, 188, 162);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.Footer__Container .Social{
    display: flex;
    justify-content: center;
}

.Footer__Container .Social img{
    height: 32px;
    width: 32px;
    background-color: white;
    margin: 5px 7px 5px 7px;
    border-radius: 5px;
}

.Footer__Container .Social img:hover{
    height: 32px;
    width: 32px;
    background-color: #C7AB97;
    border: 1px solid #C7AB97;
    margin: 5px 7px 5px 7px;
    border-radius: 5px;
}

.Footer__Container .Credits{
    align-items: center;
    color: rgb(109, 95, 78);
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    height: 40px;
}