body {
    background-image: url("../../assets/LandingPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.LandingPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome {
    align-items: center;
    justify-content: center;
    
}
.LandingTitle {
    color: beige;
    font-size: 3.2rem;
    text-shadow: -1px 0 #C7AB97, 2px 0 #C7AB97, 0 2px #C7AB97, 0 -1px #C7AB97;
}
.goBtn {
    background-color: beige;
    border: 3px solid #C7AB97;
    border-radius: 10px;
    color: #C7AB97;
    cursor: pointer;
    font-size: 1.9rem;
    padding-left: 12px;
    padding-right: 12px;
}

.goBtn:hover {
    background-color: #C7AB97;
    color: beige;
    padding-left: 15px;
    padding-right: 15px;
}