.selectName {
    background-color: beige;
    border: 2px solid rgb(109, 95, 78);
    border-radius: 4px;
    font-weight: 700;
    padding: 10px;
}
@media (max-width: 800px) {
    .selectName {
        padding: 5px;
    }
}