* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.headerContainer {
    align-items: center;
    background-color: #977c6b;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
.headerContainer img {
    height: 52px;
    width: 52px;
}
.CreateDog {
    background-color: beige;
    border: 2px solid rgb(109, 95, 78);
    border-radius: 8px;
    color: rgb(109, 95, 78);
    font-size: 17px;
    font-weight: bold;
    margin-right: 4px;
    padding: 8px;
    transition: 0.7s ease;
}
.CreateDog:hover {
    background-color: rgb(109, 95, 78);
    border: 2px solid beige;
    color: beige;
    cursor: pointer;
}
.firstCont {
    align-items: center;
    display: flex;
}
@media (max-width: 800px) {
 .CreateDog {
    border: 1px solid rgb(109, 95, 78);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 2px;
    padding: 5px;
    transition: 0.7s ease;
}
}